@inherits LayoutComponentBase

<PageTitle>FerreteriaCamilo</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <h3>Redes Sociales</h3>

        <div class="btn-group">
            <a href="https://www.instagram.com/ferreteriacamilo055/" class="btn btn-primary position-relative">Instagram</a>
            <a href="https://www.facebook.com/profile.php?id=100087293919771" class="btn btn-primary position-relative">Facebook</a>
            <a href="#" class="btn btn-primary position-relative">WhatsApp</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
